html, body {
  overflow-x: hidden;
  width: 100%;
  text-align: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover {
  text-decoration: none !important;
}

a:active, a:focus, button:focus, button:active, [role="button"]:focus, [role="button"]:active, .btn:focus, .btn:active {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

p {
  font-family: 'Rubik', sans-serif;
  letter-spacing: .3px;
}

.body-content {
  min-height: calc(100vh - 129px);
}

h1, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}
