footer {
  background-color: #d9d9d9;
  padding: 2rem 0 1rem 0;
}

.social .fab {
  font-size: 24px;
  margin: 0 .35rem;
  color: #000;
  transition: all .3s ease;
}

.social {
  margin-bottom: .5rem;
}

.facebook:hover {
	color: #4267B2;
}

.x:hover {
	color: #0465b0;
}

.instagram:hover {
	color: #C13584;
}

.linkedin:hover {
	color: #006192;
}

.bluesky:hover {
  color: #4f9bd9;
}

.footer p {
  font-size: .8rem;
}
